#streamBlock {
  display: inline-block;
  position: fixed;
  background: #171717;
  height: 100%;
  width: 100%;
}

.cam-block {
  width: 100%;
  display: block;
  position: relative;
}

.expand-stream {
  cursor: pointer;
  background: white;
  display: block;
  width: 37px;
  height: 27px;
  border-radius: 5px;
  position: absolute;
  background-image: url("../../../assets/icons/twotone_panorama.png");
  background-size: 40px 40px;
  background-position: center;
  bottom: 7px;
  right: 4px;
}

.spinnerCam {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.hidden {
  display: none;
}

.load-error {
  display: block;
  position: relative;
  text-align: center;
  margin: auto;
  top: 50%;
  color: white;
}

.preview-info {
  display: block;
  position: absolute;
  max-width: 70%;
  margin: auto;
  bottom: 4px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
  background: #00000085;
  color: white;
}


