<mat-dialog-content class="mat-typography">

    <div *ngIf="!showInVideoElement">
        <mat-spinner class="spinnerCam" diameter="50" #spinner></mat-spinner>
        <img id="preview" style="width:100%;" [src]="streamUrl" (load)="onImageLoad($event);" #streaming>
    </div>

    <video id="videoEvent" *ngIf="showInVideoElement" controls autoplay muted>
        <source [src]="streamUrl" type="video/mp4">
    </video>

    <p class="preview-info-detail" #detailInfoPreview></p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button id="close-detail" mat-flat-button color="primary" mat-dialog-close (click)="stopStreaming();">Close</button>
</mat-dialog-actions>