.mat-dialog-content {
  min-height: 20vh;
  min-width: 20vh;
  max-height: 100vh !important;
}
.hidden {
  display: none;
}
.spinnerCam {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.preview-info-detail {
  display: block;
  position: absolute;
  bottom: 35px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
#videoEvent {
  display: block;
  width: 100%;
}
#preview {
  display: block;
  width: 100%;
}
