#setEventsFilters-btn {
  display: block;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  max-width: 50%;
}

#spinnerConf {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.mat-form-field {
  margin: 0 5px;
}

.row-btn {
  width: 100%;
  display: flex;
}

#EventsFilters-btn {
  margin: 0 5px;
}

mat-slider {
  margin-top: 25px;
  width: 100%;
}

.confStreaming {
  display: flex;
  border-top: 1px solid #dadada;
  padding-top: 25px;
}

.sliderBlock {
  width: 25%;
  text-align: center;
}
