<mat-accordion>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Impostazione generali
            </mat-panel-title>
            <mat-panel-description>
                {{ 'Impostazione generali' }}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Set json</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ 'Qualità streaming'}}
            </mat-panel-title>
            <mat-panel-description>
                {{ 'Imposta la qualità dello streaming' }}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-slider aria-label="unit(s)"></mat-slider>
        <mat-slider aria-label="unit(s)"></mat-slider>
        <mat-slider aria-label="unit(s)"></mat-slider>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Filtro eventi
            </mat-panel-title>
            <mat-panel-description>
                {{ 'Filtra eventi per data e orario' }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" [(ngModel)]="dateRange.startDate">
                <input matEndDate placeholder="End date" [(ngModel)]="dateRange.endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <button id="setDateRange-btn" mat-raised-button color="primary" (click)="setDateRange()">{{ 'Filtra' }}</button>
    </mat-expansion-panel>


</mat-accordion>