<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Impostazione generali
            </mat-panel-title>
            <mat-panel-description>
                {{ 'Impostazione generali' }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill">
            <mat-label>Event Streaming Mode</mat-label>
            <mat-select [(value)]="configurationsList.streamingProperties.eventStreamingMode">
                <mat-option *ngFor="let mode of eventStreamMode" [value]="mode.value"
                    (click)="changeEventStreamingMode(mode.value)">{{ mode.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="settingsFromJson">
            <!-- <p>{{ 'Default settings loaded from json file' }}</p> -->

            <mat-form-field appearance="fill">
                <mat-label>{{ 'Protocol' }}</mat-label>
                <input [disabled]="true" matInput [value]="zmService.conf.protocol">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{ 'Base Url' }}</mat-label>
                <input [disabled]="true" matInput [value]="zmService.conf.baseUrl">
            </mat-form-field>

            <mat-form-field *ngIf="zmService.conf.streamUrl1.length > 0" appearance="fill">
                <mat-label>{{ 'streamUrl 1' }}</mat-label>
                <input [disabled]="true" matInput [value]="zmService.conf.streamUrl1">
            </mat-form-field>

            <mat-form-field *ngIf="zmService.conf.streamUrl2.length > 0" appearance="fill">
                <mat-label>{{ 'streamUrl 2' }}</mat-label>
                <input [disabled]="true" matInput [value]="zmService.conf.streamUrl2">
            </mat-form-field>

            <mat-form-field *ngIf="zmService.conf.streamUrl3.length > 0" appearance="fill">
                <mat-label>{{ 'streamUrl 3' }}</mat-label>
                <input [disabled]="true" matInput [value]="zmService.conf.streamUrl3">
            </mat-form-field>

            <mat-form-field *ngIf="zmService.conf.streamUrl4.length > 0" appearance="fill">
                <mat-label>{{ 'streamUrl 4' }}</mat-label>
                <input [disabled]="true" matInput [value]="zmService.conf.streamUrl4">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{ 'liveStreamingScale' }}</mat-label>
                <input [disabled]="true" matInput [value]="zmService.conf.liveStreamingScale">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{ 'liveStreamingMaxFps' }}</mat-label>
                <input [disabled]="true" matInput [value]="zmService.conf.liveStreamingMaxFps">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{ 'buffer' }}</mat-label>
                <input [disabled]="true" matInput [value]="zmService.conf.buffer">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{ 'detailStreamingScale' }}</mat-label>
                <input [disabled]="true" matInput [value]="zmService.conf.detailStreamingScale">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{ 'detailStreamingMaxfps' }}</mat-label>
                <input [disabled]="true" matInput [value]="zmService.conf.detailStreamingMaxfps">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{ 'defaultEventStreamingMode' }}</mat-label>
                <input [disabled]="true" matInput [value]="zmService.conf.defaultEventStreamingMode">
            </mat-form-field>
        </div>

    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ 'Qualità streaming'}}
            </mat-panel-title>
            <mat-panel-description>
                {{ 'Imposta la qualità dello streaming' }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="confStreaming">
            <div class="sliderBlock">
                <div class="confStreamingLabel">
                    <label>{{ 'Live streaming: ' }}</label>
                    <label class="liveStreamingQlty">{{ selectedLiveStreamingScale }}</label>
                </div>
                <mat-slider [disabled]="false" [max]="liveStreamingMaxScale" [min]="liveStreamingMinScale"
                    [(ngModel)]="selectedLiveStreamingScale" [thumbLabel]="true" [tickInterval]="5"
                    (click)="applyNewStreamingConf(selectedLiveStreamingScale, 'liveStreaming');">
                </mat-slider>
            </div>

            <div class="sliderBlock">
                <div class="liveStreamingFps-slider">
                    <label>{{ 'Live FPS: ' }}</label>
                    <label class="liveStreamingQlty">{{ selectedLiveStreamingFps }}</label>
                </div>
                <mat-slider [disabled]="false" [max]="liveStreamingMaxFps" [min]="liveStreamingMinFps"
                    [(ngModel)]="selectedLiveStreamingFps" [thumbLabel]="true" [tickInterval]="1"
                    (click)="applyNewStreamingConf(selectedLiveStreamingFps, 'maxLiveFps');">
                </mat-slider>
            </div>
        </div>

        <div class="confStreaming">
            <div class="sliderBlock">
                <div class="confStreamingLabel">
                    <label>{{ 'Detail streaming: ' }}</label>
                    <label class="detailStreamingQlty">{{ selectedDetailStreamingScale }}</label>
                </div>
                <mat-slider [disabled]="false" [max]="detailStreamingMaxScale" [min]="detailStreamingMinScale"
                    [(ngModel)]="selectedDetailStreamingScale" [thumbLabel]="true" [tickInterval]="5"
                    (click)="applyNewStreamingConf(selectedDetailStreamingScale, 'detailStreaming');">
                </mat-slider>
            </div>

            <div class="sliderBlock">
                <div class="liveStreamingFps-slider">
                    <label>{{ 'Detail FPS: ' }}</label>
                    <label class="liveStreamingQlty">{{ selectedDetailStreamingFps }}</label>
                </div>
                <mat-slider [disabled]="false" [max]="detailStreamingMaxFps" [min]="detailStreamingMinFps"
                    [(ngModel)]="selectedDetailStreamingFps" [thumbLabel]="true" [tickInterval]="1"
                    (click)="applyNewStreamingConf(selectedDetailStreamingFps, 'maxDetailFps');">
                </mat-slider>
            </div>
        </div>

    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>

        <mat-spinner *ngIf="showDateRangeSpinner" id="spinnerConf" diameter="50" #spinner></mat-spinner>

        <mat-expansion-panel-header>
            <mat-panel-title>
                Filtro eventi
            </mat-panel-title>
            <mat-panel-description>
                {{ 'Filtra eventi per data e orario' }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="example-form">
            <mat-form-field appearance="fill" class="example-form-field">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="datepicker" placeholder="Start date" [(ngModel)]="startDateFilter"
                    name="startDate">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Search</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>

            <mat-form-field class="filter-start-time" appearance="fill">
                <mat-label>Select Start time</mat-label>
                <input matInput placeholder="00:00:00" value="00:00:00" type="time" name="startTime"
                    [(ngModel)]="dateRange.startTime">
            </mat-form-field>

            <mat-form-field class="filter-end-time" appearance="fill">
                <mat-label>Select End time</mat-label>
                <input matInput placeholder="23:59:00" value="00:00:00" type="time" name="endTime"
                    [(ngModel)]="dateRange.endTime">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Cam filter</mat-label>
                <mat-select [(value)]="selectedCam">
                    <mat-option [value]="{ name: null, id: null }">None</mat-option>
                    <mat-option *ngFor="let cam of camsList" [value]="cam">{{ cam.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="row-btn">
                <button id="EventsFilters-btn" mat-raised-button color="primary"
                    (click)="setEventsFilters(false)">{{'Filtra' }}</button>
                <button id="EventsFilters-btn" mat-raised-button color="accent" (click)="resetFilters()">{{'Reset filters' }}</button>
            </div>
        </form>
    </mat-expansion-panel>

    <!-- <div *ngIf="isLoadedFromDb === true" id="settings-actions">
        <p id="settings-loaded-from">{{ (isLoadedFromDb === true) ? 'Settings loaded from: DB' : 'Settings loaded from: JSON' }}</p>
        <button  mat-raised-button color="accent" (click)="restetDbConf()">{{'Reset DB Config' }}</button>
    </div> -->

</mat-accordion>