<div *ngIf="userIsLogged === true; then showApp else showLogin"></div>

<ng-template #showApp>
  <div>
    <mat-tab-group *ngIf="loadStream" [selectedIndex]="selectedTab">

      <mat-tab label="Informations">
        <h3 class="info-h3">Loggato in zoneminder version: {{ login.version }}</h3>
        <p class="info-p"><b>token di accesso: </b>{{ login.refresh_token }}</p>
        <p class="info-p"><b>api version: </b> {{ login.apiversion }}</p>
        <p class="info-p"><b>credenziali: </b> {{ login.credentials }}</p>
        <p class="info-p"><b>cadenza token: </b> {{ login.refresh_token_expires }}</p>
      </mat-tab>

      <mat-tab label="Live Stream">
        <!-- <live-stream [localToken]="localToken"></live-stream>  -->
        <!-- <button routerLink="live">live</button> -->
        <nav mat-tab-nav-bar>
          <a mat-tab-link
          routerLink="live"
          routerLinkActive #rla="routerLinkActive"
          [active]="true">prova
          
          </a>
        </nav>

       </mat-tab> 


     
      

      <mat-tab label="Events">
        <events [localToken]="localToken"></events>
      </mat-tab>

      <mat-tab label="Settings">
        <config></config>
      </mat-tab>


      <mat-tab label="actions">
        <div class="row" id="actions-block">
          <div class="row-action">
            <p>{{ 'Avvia Zoneminder' }}</p>
            <button id="start-btn" mat-raised-button color="primary" (click)="logOutZm()">{{ 'Start' }}</button>
          </div>
          <div class="row-action">
            <p>{{ 'Stop Zoneminder' }}</p>
            <button id="stop-btn" mat-raised-button color="warn" (click)="logOutZm()">{{ 'Stop' }}</button>
          </div>
          <div class="row-action">
            <p>{{ 'Riavvia Zoneminder' }}</p>
            <button id="restart-btn" mat-raised-button color="accent" (click)="logOutZm()">{{ 'Restart' }}</button>
          </div>
          <div class="row-action">
            <p>{{ 'Logut Zoneminder' }}</p>
            <button id="logout-btn" mat-raised-button color="warn" (click)="logOutZm()">{{ 'Logout' }}</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</ng-template>

<ng-template #showLogin>
  <div id="login-main">
    <div id="login-block">
      <h3 id="login-title">Login in Argominder</h3>
      <form class="example-form">
        <mat-form-field class="input-login" appearance="fill">
          <mat-label>zm username</mat-label>
          <input matInput placeholder="username" [(ngModel)]="zmUsername" type="text" name="username">
        </mat-form-field>
        <mat-form-field class="password-login" appearance="fill">
          <mat-label>zm password</mat-label>
          <input matInput placeholder="password" [(ngModel)]="zmPassword" type="password" name="password">
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" (click)="logInZm()">{{ 'Login' }}</button>
      <p *ngIf="errorLogin">{{ 'Errore di autenticazione' }}</p>
    </div>
  </div>

</ng-template>

<router-outlet></router-outlet>