<div id="streamBlock">

  <mat-grid-list cols="4" rowHeight="1.55:1">

    <mat-grid-tile *ngFor="let item of datasource.monitors; let i = index">

      <div class="cam-block">
        <mat-spinner class="spinnerCam" [id]="'camSpinner-' + item.Monitor.Id" diameter="50" #spinner></mat-spinner>

        <img [attr.camId]="item.Monitor.Id" style="width:100%;" src="#" (load)="onImageLoad($event, item.Monitor.Id);" #stream>

          <p [id]="item.Monitor.Id" class="preview-info" #detailInfo></p>

        <mat-icon [attr.camId]="item.Monitor.Id" class="expand-stream hidden" aria-hidden="false" aria-label="icon"
          (click)="setPreview(true, getStreamPreview(item.Monitor.Id), item.Monitor.Id);" #expand></mat-icon>
      </div>

    </mat-grid-tile>

  </mat-grid-list>

</div>