<div id="streamBlock">

  <mat-grid-list cols="4" rowHeight="1.55:1">
    <mat-grid-tile *ngFor="let item of datasource.monitors; let i = index ">  

      <div *ngIf="viewStream(item.Monitor_Status.Status) === true; then showStream else showStreamError"></div>

      <ng-template #showStream>
        <div class="{{ getClassStream(item.Monitor_Status.Status) }}">
          <mat-spinner class="spinnerCam" [id]="'camSpinner-' + item.Monitor.Id" diameter="50" #spinner></mat-spinner>
          <img [attr.camId]="item.Monitor.Id" style="width:100%;" src="{{ getStream(item.Monitor.Id, i+1) }}" (load)="onImageLoad($event, item.Monitor.Id);" #stream>      
          <mat-icon class="expand-stream" aria-hidden="false" aria-label="icon">open_in_full</mat-icon>
        </div>
      </ng-template>

      <ng-template #showStreamError>
        <div class="{{ getClassStream(item.Monitor_Status.Status) }}"></div>
      </ng-template>

    </mat-grid-tile>
  </mat-grid-list>
</div>