#streamBlock {
  display: inline-block;
  position: fixed;
  background: #171717;
  height: 100%;
  width: 100%;
}

.cam-block {
  width: 100%;
  display: block;
  position: relative;
}

.expand-stream {
  cursor: pointer;
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  background-image: url("../../../assets/icons/twotone_panorama.png");
  background-size: 35px 35px;
  bottom: 0;
  right: 1px;
}

.spinnerCam {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.hidden {
  display: none;
}

.load-error {
  display: block;
  position: relative;
  text-align: center;
  margin: auto;
  top: 50%;
  color: white;
}

.preview-info {
  display: block;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 70%;
  text-align: center;
  font-size: 13px;
  background: #00000085;
  padding: 3px 8px;
  color: white;
}
