table {
  width: 100%;
}

#preview-block {
  position: absolute;
  max-width: 1400px;
  background: white;
  border-bottom: 3px solid #673ab7;
  padding: 25px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
}

.evntPreview-btn:hover {
  background: #ff5722;
  color: white;
  cursor: pointer;
}

.evntPreview-btn {
  background: #e0e0e0;
  border: none;
  padding: 7px 10px;
}
.eventMarked {
  background: #673ab7!important;
  color: white;
}

::ng-deep .custom-dialog-class {
  .mat-dialog-container {
    padding: 20px;
    overflow: hidden;
    margin: 35px;
  }
}
